<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testFirebase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>79ED65701CA0A15D00ECBB03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79ED65871CA0A15E00ECBB03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79ED65921CA0A15E00ECBB03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
